body {
    background-color: #fbfbfe;}
div.a {
  font-size: 20px;
}
.background
{color:#000;background-color:#ea505c} /*nice*/
.text
{color:#000;background-color:#2b2a33;}
.backgroundv2
{color:#000;background-color:#59d9fb} /*nice*/
.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:50em;
  position: relative;
  height: 12em;
  font-size: 16px;
  margin: 4px 2px;
  top: 25%;
  left: 25%;
}
.button1 {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:50em;
  position: relative;
  height: 10em;
  font-size: 16px;
  margin: 4px 2px;
  top: 25%;
  left: 25%;
}
