body {
    background-color: #2b2a33;
    border-collapse: collapse;
    width: 100%;}
    
table, th, td {
  border: 1px solid black;
}

#customers tr:nth-child(even){background-color: #2b2a33;}

#customers tr:hover {background-color: #2b2a33;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
    background-color: #04AA6D;
  color: white;
}

div.a {
  font-size: 20px;
}
.background
{color:#000;background-color:#ea505c} /*nice*/
.text
{color:#000;background-color:#2b2a33;}
.backgroundv2
{color:#000;background-color:#4bc4e6} /*nice*/
.backgroundv3
{color:#000;background-color:#00b6b1}
.button {
  display: block;
  width:50em;
  position: relative;
  height: 12em;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.button1 {
  display: block;
  width:50em;
  position: relative;
  height: 10em;
  top: 25%;
  left: 50%;
transform: translateX(-50%);
}
.button2 {
  display: block;
  width:24em;
  position: relative;
  height: 5em;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.tekst{
  color: #fbfbfe;
  text-shadow: 2px 2px 4px #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}
.table{
  top: 35%;
  left: 35%;
  position: relative
}
.tables{
  border-collapse: collapse;
  width: 100%;
}